{% extends "formulaSim/home.html" %}
{% load formulaSim_extras %}
{% load staticfiles %}
		
		{% block extraLinksBlock %}
			<link rel="stylesheet" type="text/css" href="{% static 'formulaSim/driverStyle.css' %}">
		{% endblock extraLinksBlock %}
{% block mainContentBlock %}
{% comment %}
<div id='content'>
	<div class="inner">
		<h1>All Drivers</h1>
		{% for driver in driver_list %}
			<ul>


				<li>
					id:
						{{ driver.driverid }}
				</li>
				<li>
					Number:
						{{ driver.number }}
				</li>
				<li>
					Code:
						{{ driver.code }}
				</li>
				<li>
					First Name:
						{{ driver.forename }}
				</li>
				<li>
					Last Name:
						{{ driver.surname }}
				</li>
				<li>
					Born:
						{{ driver.dob }}
				</li>
				<li>
					Nationality:
						{{ driver.nationality }}
				</li>
				<li>
					<a href="{{ driver.url }}">Wikipedia link</a>
				</li>
			</ul>
		{% endfor %}
	</div>
</div>
{% endcomment %}


<div class='Patients-Container'>
          {% for driver in driver_list %}
              <a href="{{ driver.url}}" onClick='privacyWarning(event);'>
                  <div class='Patient-Card'>
                          <ul class='Card-Info'>
                              <li class='Card-Name'>{{ driver.forename }} {{ driver.surname }}</li>
                              <li class='Card-Username'>Birthdate: {{ driver.dob }}</li>
                              
                                <li class='Card-Age'>{{ driver.nationality }}</li>
                                
                            </ul>
                  </div>
              </a>
          {% empty %}
            <h3 class='No-Patients-Message'>No Drivers</h3>
          {% endfor %}
        </div>
{% endblock mainContentBlock %}


