{% load static%}

<html>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<head>
		<title>FormulaSim</title>
	</head>
	<body>
	<div class="wrapper">
		<header>
			<div class="inner">
				<div id="startBanner">
					<img src ="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\checkerFlag.jpg" alt="banner" />
				</div>
				<div id="logo">
		<a href="/">
			<img src ="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\logo.png" id="logo" />
		</a>
				</div>
				
				<nav>
					<ul>
						<li>
							<a href="/">
								<img src="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\home.png" id="home" />
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="/raceSim">
								<img src="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\raceRecreate.png" id="race" />
								<span>Race-Recreation</span>
							</a>
						</li>
						<li>
							<a href="/about">
								<img src="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\about.png" id="about" />
								<span>About Us</span>
							</a>
						</li>
					</ul>
				</nav>
				<div class="endBanner">
					<img src="E:\Jayme\Documents\Academics\Y2S2\Database\Project\formulaSite\formulaSim\static\images\checkerFlag.jpg" alt="bannerEnd" />
				</div>
			</div>
		</header>
	</div>
	</body>
</html>