<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>FormulaSim</title>
		<link rel="stylesheet" type="text/css" href="{% static 'formulaSim/styles.css' %}">
		{% block extraLinksBlock %}
		{% endblock extraLinksBlock %}
	</head>

	
	<body>
		<header>
			<div class='site-title-container'>
				<h1 class='header-title'>FormulaSim</h1>
			</div>
			<nav>
				<ul class='nav-menu-list'>
					<li><a class='menu-list-button' href="/">Home</a></li>
					<li><a class='menu-list-button' href="#">About</a></li>
					<li><a class='menu-list-button' href="/simulations">Simulations</a></li>
					<li><a class='menu-list-button' href="drivers">Drivers</a></li>
				</ul>
			</nav>
		</header>
		{% block mainContentBlock %}
			<div id='Home_Content_Container'>
			</div>

		{% endblock mainContentBlock %}

	</body>

	<footer>
			<div class="inner">
				CSCI 320 - Formula One Race Recreation
			</div>
    </footer>
</html>

