<!DOCTYPE html>
{% load staticfiles %}
<html class='background-image'>
	<head>
		<title>FormulaSim</title>
		<link rel="stylesheet" type="text/css" href="{% static 'formulaSim/homeStyle.css' %}">
		<script src="{% static 'formulaSim/jquery-2.1.4.min.js' %}"></script>
		{% block extraLinksBlock %}
		{% endblock extraLinksBlock %}
	</head>

	
	<body>
		<header>
			
			<div class='site-title-container'>
				<a href="/"><h1 class='header-title'>FormulaSim</h1></a>
			</div>
			<nav class='header-menu-nav'>
				<ul class='nav-menu-list'>
					<li><a class='menu-list-button btn-transitions cmn-t-underline' href="/">HOME</a></li>
					<li><a class='menu-list-button btn-transitions cmn-t-underline' href="/#About_Page">ABOUT</a></li>
					<li><a class='menu-list-button btn-transitions cmn-t-underline' href="/simulations">SIMULATIONS</a></li>
					<li><a class='menu-list-button btn-transitions cmn-t-underline' href="drivers">DRIVERS</a></li>
				</ul>
			</nav>
		</header>
		
		{% block mainContentBlock %}
			<div id='Central_Content_Container'>
				<div class='splash-holder'>
					<div class='splash-content-holder'>
						<h1 class='splash-phrase'>F1 Data Reimagined</h1>
						<button class='splash-simulation-btn btn-transitions' type="button" name="button" value="View Simulations" onclick="location.href = '/simulations'">View Simulations</button>
					</div>
				</div>
				<div id='About_Page' class='about-holder'>
					<div class='about-content-holder'>
						<h1 class='about-title'>About</h1>
						<p class='about-blerb'>What started as a class projects has become much more than that. FormulaSim was spawned from the idea of making FormulaOne data more approachable and enjoyable. Through visuals and graphics, explore the world of F1. Enjoy your time here!</p>
					</div>
				</div>
			</div>
		{% endblock mainContentBlock %}
		
		<footer>
			<div class="inner">
				<span class='authore-footer footer-content'>Created by Alberto Scicali</span>
				<span class='source-footer footer-content'>Data sourced from Ergast Developer API</span>
			</div>
    	</footer>
	</body>

	
</html>

