<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>FormulaSim</title>
		<link rel="stylesheet" type="text/css" href="{% static 'formulaSim/styles.css' %}">
		{% block extraLinksBlock %}
		{% endblock extraLinksBlock %}
	</head>

	
	<body>
		<header>
			
			<div class='site-title-container'>
				<h1 class='header-title'>FormulaViz</h1>
			</div>
			<nav>
				<ul class='nav-menu-list'>
					<li><a class='menu-list-button btn-transitions' href="/">HOME</a></li>
					<li><a class='menu-list-button btn-transitions' href="#">ABOUT</a></li>
					<li><a class='menu-list-button btn-transitions' href="/simulations">SIMULATION</a></li>
					<li><a class='menu-list-button btn-transitions' href="drivers">DRIVER</a></li>
				</ul>
			</nav>
		</header>
		<div id='Central_Content_Container'>
			{% block mainContentBlock %}
			<h1>Reimagining F1 Visualizations & Data</h1>
				

			{% endblock mainContentBlock %}
		</div>
		<footer>
			<div class="inner">
				<span class='authore-footer footer-content'>Created by Alberto Scicali</span>
				<span class='source-footer footer-content'>Data sourced from Ergast Developer API</span>
			</div>
    	</footer>
	</body>

	
</html>

