
.Patients-Container{
	height: 100%;
	width: 100%;
	margin: 2rem auto 0 auto;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;

	justify-content: space-around;	
	align-items: flex-start;
	align-content: flex-start;
	overflow: scroll;

	box-sizing: border-box;
	padding: 10em
}
.Patients-Container a{
	height: 25rem;
	margin-bottom: 2rem;
	flex: 1 1 1;

}

.Patient-Card{
	font: normal 300 1.3rem Helvetica, Arial, sans-serif;
	color: #868686;
	height: 25rem;
	width: 18rem;
	background-color: rgba(252, 252, 252, 1);
	border: 1px solid rgba(0, 0, 0, .1);
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem;
	text-align: center;	
	margin-bottom: 2rem;
}

.Patient-Card ul{
	margin-top: 2.5rem;
}

.Patient-Card li{
	margin-top: .5rem;
}


.Card-Avatar{
	height: 8rem;
	width: 8rem;
	background-color: #868686;
	background-image: url('images/Avatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	border: 1px solid rgba(0, 0, 0, .1);

}

.Card-Name{
	font: normal 500 1.6rem Helvetica, Arial, sans-serif;
}

