.simulation-background-holder{
	min-height: 100%;
}

.semi-transparent-div{
	background-color: rgba(10, 10, 10, .7);
	display: flex;
	flex-wrap: wrap;
}

.view-race-btn{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	background-color: #353535;
	color: #FAFAFA;
	outline: none 0;
	border: none;
	box-sizing: border-box;
	padding: 1rem;
	cursor: pointer;
	width: 10rem;
	height: 4rem;
	margin-left: 1rem;
}

.view-race-btn:hover{
	color: #222;
	background-color: #FAFAFA;
}

.slider-title{
	display: block;
	width: 100%;
}

.slider-holder{
	color: #fafafa;
	font: normal 500 2rem 'Exo 2', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	box-sizing: border-box;
	padding: 4.5rem 0 4rem 0;
}

.simulation-btns{
	font: normal 500 1.6rem 'Exo 2', Helvetica, Arial, sans-serif;
	background-color: #C90000;
	color: #FAFAFA;
	outline: none 0;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	width: 24rem;
	height: 4rem;
	display: inline-block;
}

.simulation-btns:hover{
	background-color: #353535;
}

.simulation-btns:active{
	background-color: #460000;
}



.race-info-container{
	width: 48rem;
	background-color: rgba(254, 254, 254, .85);
	display: inline-block;
	float: left;
}

.race-form-container{
	width: 100%;
	box-sizing: border-box;
	padding: 2rem 2rem 2rem 2rem;
	background-color: rgba(201, 0, 0, .9);
}

.race-form-container h4{
	box-sizing: border-box;
	padding: 1rem;
}

.get-race-form{
	width: 36rem;
}

.sim-form-items{
	display: inline-block;
}

.race-form-input{
	-webkit-appearance: none;
 	-webkit-border-radius: 0px;
 	-moz-appearance: none;
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	outline: none 0;
	border: none;
	-webkit-border-radius: none 0;
	border-radius: none 0;
	box-sizing: border-box;
	padding: 1rem;
	width: 23rem;
	height: 4rem;
	text-align: left;
	background-image: url("images/FormulaSim_DropMenu_Arrow.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.race-form-input:focus{
	/* Firefox select black border issue fix 
	color: transparent;
    text-shadow: 0 0 0 #000;
	box-shadow: 0 0 8px rgba(255, 255, 255, 1);
	*/
}

.form-error-message{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #FAFAFA;
	width: 100%;
	display: block;
	text-align: center;
	margin: .5rem 0 0 0;
}

.race-title-container{
	color: #151516;
	box-sizing: border-box;
	padding: 2rem 2rem 2rem 3rem;
}

.race-title{
	font: normal 500 3.5rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;
	margin-bottom: 1rem;
}

.race-location{
	font: normal 300 2.8rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;
	margin-bottom: 0.5rem;
}

.race-date{
	font: normal 300 2.8rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;


}

.drivers-list{
	width: 100%;
	color: #fafafa;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	margin: 2rem 0 4rem 0;
}

.drivers-list li{
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0 0 0 2.5rem;
	height: 4.6rem;
	width: 20rem;
}

.drivers-list h4{
	font: normal 700 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;
}

.driver-colors{
	height: 96%;
	width: 8px;
	display: inline-block;
	float: left;
}

.driver-status{
	font: normal 300 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #808080;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;
}

.driver-position-circles{
	font: normal 300 1.3rem 'Exo 2', Helvetica, Arial, sans-serif;
	width: 25px;
	height: 25px;
	background-color: #353535;
	border-radius: 100%;
	display: inline-block;
	float: right;
	color: #FAFAFA;
	text-align: center;
	box-sizing: border-box;
	line-height: 26px;
}


.canvas-container{
	display: inline-block;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	padding: 0 0 4rem 0;
}

/*
	Extras
*/

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(10, 10, 10);
	float: right;
}
