@import url('resetStyle.css');
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,500,700,300);


html {
	height: 100%;
	width: 100%;
	font-size: 60%;
	font-family: 'Exo 2', Helvetica, Arial, sans-serif;
}

h1{
	font: normal 300 3.5rem 'Exo 2',Helvetica, Arial, sans-serif;
	color: #FAFAFA;

}

h4{
	font: normal 300 2rem 'Exo 2',Helvetica, Arial, sans-serif;
	color: #FAFAFA;
}

header{
	width: 100%;
	background-color: rgba(10, 10, 10, .9);	
}

body {
	width: 100%;
	height: 100%;
	
}

footer{
	font: normal 300 1.4rem 'Exo 2',Helvetica, Arial, sans-serif;
	color: #FAFAFA;
	background-color: rgba(10, 10, 10, .9);	
	box-sizing: border-box;
	padding: 1.5rem;
}

#Central_Content_Container{
	width: 100%;
	height: 100%;
	background: url("images/f1_ferrari_bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-transitions{
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}



.site-title-container{
	
	box-sizing: border-box;
	padding: 2rem 2rem 1rem 2rem;
	margin: 0 auto 0 auto;
	text-align: center;
}

.header-title{
	font: normal 300 3.8rem 'Exo 2', Arial, sans-serif;	
}

.formulaSim-logo{
	width: 20px;
	height: auto;
	background-image: url("images/f1_logo.png");
	display: inline-block;
}


.nav-menu-list{
	font: normal 500 1.6rem 'Exo 2', Arial, sans-serif;
	color: #FAFAFA;
	width: 40%;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.menu-list-button{
	color: #FAFAFA;
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem 2rem 1rem 2rem;
}

.menu-list-button:hover{
	color: #7D7B7B;
}








.race-form-container{
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 3rem 2rem 2rem 2rem;
}

.race-form-container h4{
	box-sizing: border-box;
	padding: 1rem;
}

.get-race-form{
	width: 36rem;
}

.get-race-form ul{
	display: flex;
	justify-content: space-around;
}

.sim-form-items{
	display: inline-block;
}

.race-form-input{
	font: normal 500 1.4rem Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	outline: none 0;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 1rem;
	width: 23rem;
	height: 4rem;
	text-align: center;
}
.race-form-input:focus{
	box-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.form-error-message{
	font: normal 500 1.4rem Helvetica, Arial, sans-serif;
	color: #FAFAFA;
	width: 100%;
	display: block;
	text-align: center;
	margin: .5rem 0 0 0;
}

.view-race-btn{
	font: normal 500 1.4rem Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	outline: none 0;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 1rem;
	cursor: pointer;
	width: 10rem;
	height: 4rem;
}

.view-race-btn:hover{
	background-color: #7D7B7B;

}

.main-content-container{
	display: flex;
	justify-content: space-around;
}


.semi-transparent-div{
	height: 100%;
	background-color: rgba(10, 10, 10, .7);

}

.race-title-container{
	color: #fafafa;
	font: normal 500 2rem Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	padding:  2rem;
	text-align: center;
}

.slider-holder{
	color: #fafafa;
	font: normal 500 2rem Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	padding: 2rem;
	margin: 0 auto 0 auto;
	width: 36rem;
	text-align: center;
}
.slider-holder label{
	display: block;
}

.slider-labels{
	font: normal 500 1.4rem Helvetica, Arial, sans-serif;
}

.simulation-btns{
	font: normal 500 1.4rem Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	outline: none 0;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 1rem;
	cursor: pointer;
	width: 8rem;
	height: 4rem;
	display: inline-block;
	float: left;
}

.simulation-btns:hover{
	color: #e6e6e6;

}



.race-info-container{
	color: #fafafa;
	font: normal 300 1.5rem Helvetica, Arial, sans-serif;
	width: 28rem;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	flex-flow: column;
	justify-content: flex-start;	
	box-sizing: border-box;
	padding: 2rem
}

.drivers-list{
	color: #fafafa;
}

.drivers-list li{
	box-sizing: border-box;
	padding: 0.5rem;
	height: 4.6rem;
}

.drivers-list h4{
	font: normal 700 1.4rem Helvetica, Arial, sans-serif;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;

}

.driver-colors{
	height: 100%;
	width: 10px;
	display: inline-block;
	float: left;
}

.driver-status{
	font: normal 300 1.4rem Helvetica, Arial, sans-serif;
	color: #C6C6C6;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;
}


.canvas-container{
	box-sizing: border-box;
	padding: 2rem;
}

.source-footer{
	float: right;
}

