@import url('resetStyle.css');
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,500,700,300);


html {
	height: 100%;
	width: 100%;
	font-size: 60%;
	font-family: 'Exo 2', Helvetica, Arial, sans-serif;
}

h1{
	font: normal 300 3.5rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #FAFAFA;

}

h4{
	font: normal 300 2rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #222;
}

header{
	width: 100%;
	background-color: #131313;
	height: 9rem;
	display: flex;
	justify-content: space-between;
}

.header-menu-nav{
	box-sizing: border-box;
	padding: 2.9rem 0 0 0;
}

body {
	width: 100%;
	height: 100%;
	
}

footer{
	font: normal 300 1.4rem 'Exo 2',Helvetica, Arial, sans-serif;
	color: #FAFAFA;
	background-color: rgba(10, 10, 10, .9);	
	box-sizing: border-box;
	padding: 1rem;
	height: 4rem;
}

#Central_Content_Container{
	width: 100%;
	height: 100%;
	background: url("images/f1_ferrari_bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-transitions{
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}



.site-title-container{
	box-sizing: border-box;
	padding: 2rem 2rem 1rem 2rem;
	text-align: center;
	display: inline-block;
}

.header-title{
	font: normal 500 4.5rem 'Exo 2', Arial, sans-serif;	
}

.formulaSim-logo{
	width: 20px;
	height: auto;
	background-image: url("images/f1_logo.png");
	display: inline-block;
}


.nav-menu-list{
	font: normal 500 1.6rem 'Exo 2', Arial, sans-serif;
	color: #FAFAFA;
	width: 50rem;
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.menu-list-button{
	color: #FAFAFA;
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem 2rem 1rem 2rem;
}

.menu-list-button:hover{
	color: #7D7B7B;
}

.splash-phrase{
		font: normal 500 5rem 'Exo 2', Arial, sans-serif;

}





.background-image{
	min-height: 100%;
	background: url("images/f1_ferrari_bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.semi-transparent-div{
	min-height: 100%;
	background-color: rgba(10, 10, 10, .7);
	overflow: auto;
}





.view-race-btn{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	background-color: #353535;
	color: #FAFAFA;
	outline: none 0;
	border: none;
	box-sizing: border-box;
	padding: 1rem;
	cursor: pointer;
	width: 10rem;
	height: 4rem;
	margin-left: 1rem;
}

.view-race-btn:hover{
	color: #222;
	background-color: #FAFAFA;
}

.main-content-container{
	height: 100%;
	width: 100%;
	display: flex;
}

.slider-title{
	display: block;
	width: 100%;
}

.slider-holder{
	color: #fafafa;
	width: 46rem;
	font: normal 500 2rem 'Exo 2', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	
}

.slider-inner-div{
	display: inline-block;
}

.slider-holder label{
	display: block;
	text-align: center;
}

.slider-labels{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
}

.simulation-btns{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	background-color: #C90000;
	color: #FAFAFA;
	outline: none 0;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	width: 8rem;
	height: 3rem;
	display: inline-block;
}

.simulation-btns:hover{
	background-color: #353535;
}



.race-info-container{
	height: 100%;
	background-color: rgba(254, 254, 254, .85);
	display: inline-block;
	float: left;
}

.race-form-container{
	width: 100%;
	box-sizing: border-box;
	padding: 2rem 2rem 2rem 2rem;
	background-color: rgba(201, 0, 0, .9);
}

.race-form-container h4{
	box-sizing: border-box;
	padding: 1rem;
}

.get-race-form{
	width: 36rem;
}

.sim-form-items{
	display: inline-block;
}

.race-form-input{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	outline: none 0;
	border: none;
	-webkit-border-radius: none 0;
	border-radius: none 0;
	box-sizing: border-box;
	padding: 1rem;
	width: 23rem;
	height: 4rem;
	text-align: center;
}
.race-form-input:focus{
	box-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.form-error-message{
	font: normal 500 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #FAFAFA;
	width: 100%;
	display: block;
	text-align: center;
	margin: .5rem 0 0 0;
}

.race-title-container{
	color: #151516;
	box-sizing: border-box;
	padding: 2rem 2rem 2rem 3rem;
}

.race-title{
	font: normal 500 3rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;
	margin-bottom: 1rem;
}

.race-location{
	font: normal 300 2.8rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;
	margin-bottom: 0.5rem;
}

.race-date{
	font: normal 300 2.8rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: block;


}

.drivers-list{
	width: 48rem;
	color: #fafafa;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin: 2rem 0 0 0;
}

.drivers-list li{
	box-sizing: border-box;
	padding: 0.5rem;
	height: 4.6rem;
	width: 20rem;
}

.drivers-list h4{
	font: normal 700 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;

}

.driver-colors{
	height: 96%;
	width: 8px;
	display: inline-block;
	float: left;
}

.driver-status{
	font: normal 300 1.4rem 'Exo 2', Helvetica, Arial, sans-serif;
	color: #808080;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;
}


.canvas-container{
	display: inline-block;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	padding: 2rem 0 0 0;
}

.source-footer{
	float: right;
}

