@import url('resetStyle.css');



html {
	height: 100%;
	width: 100%;
	font-size: 60%
}

body {
	background:#5BC1F2;
	height:100%;
	margin:0;
	padding:75px 0 0 0;
}

h1,h2,h3,h4,h5,h6 {
	color:#003B57;
	margin:0;
}

.main-content-container{
	display: flex;
	justify-content: space-between;
}

.race-title-container{
	font: normal 500 2rem Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	padding:  0 2rem 2rem 2rem;
	text-align: center;
}

.race-info-container{
	font: normal 300 1.8rem Helvetica, Arial, sans-serif;
	float: left;
	text-align: center;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	flex-flow: column;
	justify-content: flex-start;	
	

	box-sizing: border-box;
	padding: 2rem
}


.canvas-container{
	box-sizing: border-box;
	padding: 2rem 0 0 0;
}

h2{
	font-size: 2rem;
}

.inner {
	max-width:1000px;
	width:100%;
	margin:0 auto;
}

header {
	background:#FFFFFF;
	overflow:auto;
	box-shadow:0px 3px 5px rgba(0,0,0,0.5);
	position:absolute;
	padding:0px 25px;
	top:0;
	width:100%;
}

header .inner {
	display:table;

}

header .inner > * {
	display:table-cell;
	vertical-align: middle;
}

header h1, header h2 {
	float:left;
	clear:left;
}

header h1 {
	font-size:24px;
}

header h2 {
	font-size:12px;
}

#logo {
	width:150px;
}

#search {
	padding:0 25px;
}

#search-bar {
	padding:10px 20px;
	border-radius:5px;
	font-size:16px;
	width:100%;
}

nav {
	overflow:hidden;
	border-left:1px solid #02A2EF;
	width:450px;
	padding-right:25px;
}


nav ul {
	width:100%;
	padding:0;
	margin:0;
}

nav li {
	float:left;
	list-style:none;
	padding-left:0;
}

nav #viewNav {
	display:none;
}

nav li img {
	max-height:25px;
	clear:both;
	float:none;
	position:relative;
	display:block;
	margin:0 auto;
}

nav li a {
	display:block;
	padding:15px 20px;
	color:#000;
	text-decoration: none;
	border-right:1px solid #02A2EF;
	vertical-align: center;
}

nav li a:hover {
	background:#99D7F5;
}

#userbar {
	float:right;
}

#userbar > button, #userbar > form, #userbar > input {
	display:inline-block;
}

#content {
	padding:25px;
	background:#F3FAFE;
	min-height:500px;
}

input[type="text"], input[type="password"] {
	border-radius:5px;
	background:#F3FAFE;
	color:#338BB6;
	border:none;
	padding:4px 10px;
}

button, input[type="submit"], input[type="cancel"] {
	border-radius:5px;
	background:#22ADF1;
	color:#003B57;
	border:none;
	padding:4px 10px;
}

footer {
	padding:25px 50px;
	background:#5BC1F2;
}

@media(max-width:750px) {
	nav li a span{
		display:none;
	}
	nav li img {
		max-height:20px;
	}
	nav {
		width:320px;
	}
}

@media(max-width:600px) {
	nav ul>li {
		display:none;
	}

	nav #viewNav {
		display:block;
	}
	nav {
		width:65px;
	}
}